@using RoomsUtility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpAcc

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] Rooms Managment</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" style="border-radius: 20%" href="~/favicon4.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    <partial name="_Notification" />
    <header>
    
        <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark mb-4">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Room Manager</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Room" asp-action="IndexRoom"><i class="fas fa-home"></i> Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index"><i class="fas fa-door-open"></i> Rooms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="BedNumber" asp-action="IndexBedNumber"><i class="fas fa-calendar-alt"></i> Beds Number</a>
                            </li>
                                @if (!string.IsNullOrEmpty(httpAcc.HttpContext.Request.Cookies[StaticData.RefreshToken])) 
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Auth" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Auth" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Auth" asp-action="Register"><i class="fas fa-user-plus"></i> Register</a>
                                    </li>
                                }
                            
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer ">
        <div class="">
            &copy; 2025 - Rooms Managment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>